.card {
    width: 22vh;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    -webkit-box-shadow: 0 0 28px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 28px 3px rgba(0, 0, 0, 1);
    box-shadow: 0 0 28px 3px rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    text-align: center;
    color: white;
    margin: 20px 10px;
    transition: 0.3s;
    text-decoration: none;
    .cardPhotoContainer {
        display: flex;
        justify-content: center;
        .cardPhoto {
            width: 19vh;
            height: 19vh;
            margin: 10px;
            border-radius: 8px;
        }
    }
    .cardName {
        margin: 10px 20px;
        font-size: 1rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 2.4em;
        line-height: 1.2em;
        text-overflow: ellipsis;
        text-decoration: none;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
    }
}
.cardCard:hover {
    cursor: pointer;
}
